.about {
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
}
//===================================================================================================================
.main-about {
    padding: 33px 0 83px 0;
    @media (max-width: ($md1+px)) {
        padding: 31px 0 70px 0;
    }
    @media (max-width: ($md2+px)) {
        padding: 28px 0 60px 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 26px 0 50px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 23px 0 40px 0;
    }
    // .main-about__container
    &__container {
    }
    // .main-about__body
    &__body {
    }
    // .main-about__title
    &__title {
        &:not(:last-child){
            margin: 0 0 23px 0;
        }
        @media (max-width: ($md2+px)) {
            &:not(:last-child){
                margin: 0 0 18px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 13px 0;
            }
        }
    }
    // .main-about__info-labels
    &__info-labels {
        &:not(:last-child){
            margin: 0 0 37px 0;
        }
        @media (max-width: ($md2+px)) {
            &:not(:last-child){
                margin: 0 0 32px 0;
            }
        }
        @media (max-width: ($md3+px)) {
            &:not(:last-child){
                margin: 0 0 27px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 20px 0;
            }
        }
    }
    // .main-about__content
    &__content {
    }
}
.content-main-about {
    // .content-main-about__title
    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: calc(24 / 20 * 100%);
        color: #0D1935;
        text-transform: uppercase;
        &:not(:last-child){
            margin: 0 0 20px 0;
        }
        @media (max-width: ($md2+px)) {
            font-size: 18px;
            &:not(:last-child){
                margin: 0 0 18px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 16px;
            &:not(:last-child){
                margin: 0 0 16px 0;
            }
        }
    }
    // .content-main-about__body
    &__body {
    }
    // .content-main-about__row
    &__row {
        position: relative;
        @include flexbox();
        @media (max-width: ($md3+px)) {
            flex-direction: column;
        }
    }
    // .content-main-about__first-column
    &__first-column {
        flex: 0 1 75%;
        @media (max-width: ($md1+px)) {
            flex: 0 1 70%;
        }
    }
    // .content-main-about__last-column
    &__last-column {
        flex: 0 1 25%;
        border: 1px solid #C9C9C9;
        border-left: 0;
        border-bottom: 0;
        padding: 30px 20px 80px 20px;
        background: url('../img/about/03.jpg') center no-repeat;
        background-size: cover;
        margin: 0 0 61px 0;
        @media (max-width: ($md1+px)) {
            flex: 0 1 30%;
            padding: 27px 18px 70px 18px;
        }
        @media (max-width: ($md2+px)) {
            padding: 24px 17px 60px 17px;
        }
        @media (max-width: ($md3+px)) {
            margin: 0 0 35px 0;
            padding: 22px 16px 50px 16px;
            border-bottom: 1px solid #C9C9C9;
        }
        @media (max-width: ($md4+px)) {
            padding: 20px 14px 40px 14px;
            margin: 0 0 40px 0;
        }
    }
    // .content-main-about__bottom
    &__bottom {
        @include flexbox();
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 67px;
        background-color: #FE6D2C;
        border: 1px solid #C9C9C9;
        border-left: 0;
        width: 59.9%;
        font-size: 24px;
        line-height: calc(28 / 24 * 100%);
        text-align: center;
        color: #FFFFFF;
        @media (max-width: ($md1+px)) {
            width: 62.6%;
            font-size: 23px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 22px;
        }
        @media (max-width: ($md3+px)) {
            width: 100%;
            font-size: 20px;
            height: 60px;
        }
        @media (max-width: ($md4+px)) {
            height: 50px;
            font-size: 17px;
        }
    }
}
.first-column-about {
    // .first-column-about__top
    &__top {
        @include flexbox();
        @media (max-width: ($md4+px)) {
            flex-direction: column;
        }
    }
    // .first-column-about__bottom
    &__bottom {
        @include flexbox();
        @media (max-width: ($md4+px)) {
            flex-direction: column;
        }
    }
}
.top-first-column-about {
    // .top-first-column-about__first-block
    &__first-block {
        flex: 0 1 65%;
        border: 1px solid #C9C9C9;
        border-right: 0;
        padding: 24px 33px 73px 30px;
        background: url('../img/about/01.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: ($md1+px)) {
            padding: 20px 30px 63px 26px;
        }
        @media (max-width: ($md2+px)) {
            padding: 18px 26px 53px 23px;
        }
        @media (max-width: ($md3+px)) {
            padding: 17px 22px 45px 20px;

        }
        @media (max-width: ($md4+px)) {
            padding: 15px 20px 35px 18px;
            border-right: 1px solid #C9C9C9;
        }
    }
    // .top-first-column-about__last-block
    &__last-block {
        flex: 0 1 35%;
        border: 1px solid #C9C9C9;
        padding: 20px 20px 73px 20px;
        background: url('../img/about/02.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: ($md1+px)) {
            padding: 18px 18px 63px 18px;
        }
        @media (max-width: ($md2+px)) {
            padding: 17px 17px 53px 17px;
        }
        @media (max-width: ($md3+px)) {
            padding: 16px 16px 45px 16px;
        }
        @media (max-width: ($md4+px)) {
            padding: 14px 14px 35px 14px;
            border-top: 0;
            border-left: 0;
        }
    }
}
.bottom-first-column-about {
    // .bottom-first-column-about__first-block
    &__first-block {
        flex: 0 1 53.5%;
        border: 1px solid #C9C9C9;
        border-top: 0;
        padding: 20px 31px 64px 30px;
        background: url('../img/about/04.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: ($md1+px)) {
            padding: 18px 27px 58px 26px;
        }
        @media (max-width: ($md2+px)) {
            padding: 17px 24px 48px 23px;
        }
        @media (max-width: ($md3+px)) {
            padding: 16px 21px 42px 20px;
        }
        @media (max-width: ($md4+px)) {
            padding: 14px 19px 37px 18px;
        }
    }
    // .bottom-first-column-about__last-block
    &__last-block {
        flex: 0 1 46.5%;
        padding: 8px 38px 35px 31px;
        border: 1px solid #C9C9C9;
        border-top: 0;
        border-left: 0;
        border-bottom: 0;
        background: url('../img/about/05.jpg') center no-repeat;
        background-size: cover;
        margin: 0 0 67px 0;
        @media (max-width: ($md1+px)) {
            padding: 7px 34px 33px 28px;
        }
        @media (max-width: ($md2+px)) {
            padding: 6px 30px 29px 24px;
        }
        @media (max-width: ($md3+px)) {
            margin: 0;
            padding: 10px 26px 25px 21px;
        }
        @media (max-width: ($md4+px)) {
            padding: 13px 22px 24px 19px;
        }
    }
}
.about-column-label {
    font-size: 16px;
    line-height: calc(28 / 16 * 100%);
    color: #242424;
    @media (max-width: ($md2+px)) {
        font-size: 15px;
    }
    @media (max-width: ($md3+px)) {
        font-size: 14px;
    }
    @media (max-width: ($md4+px)) {
        font-size: 13px;
    }
}
.about-column-title {
    font-weight: 500;
    color: #FE6D2C;
}
.about-column-subtitle {
    font-size: 14px;
    line-height: calc(22 / 14 * 100%);
    color: #444343;
    @media (max-width: ($md3+px)) {
        font-size: 13px;
    }
    @media (max-width: ($md4+px)) {
        font-size: 12px;
    }
}
.about-column-text {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 30px 0px #0000000D;
    padding: 12px;
    font-size: 15px;
    line-height: calc(24 / 15 * 100%);
    color: #2C2C2C;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        overflow: hidden;
        @include rotate(-45deg);
        background-color: rgba(255, 255, 255, 0.5);
        top: -5px;
    }
    @media (max-width: ($md2+px)) {
        font-size: 14px;
    }
    @media (max-width: ($md3+px)) {
        font-size: 13px;
        padding: 10px;
    }
    @media (max-width: ($md4+px)) {
        font-size: 12px;
    }
}
.first-block-top-about {
    // .first-block-top-about__label
    &__label {
    }
    // .first-block-top-about__title
    &__title {
        display: inline;
        font-size: 80px;
        @media (max-width: ($md1+px)) {
            font-size: 72px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 56px;
            display: block;
        }
        @media (max-width: ($md3+px)) {
            display: inline;
            font-size: 48px;
        }
        @media (max-width: 650px) {
            display: block;
        }
        @media (max-width: ($md4+px)) {
            font-size: 40px;
            display: inline;
        }
        @media (max-width: 400px) {
            display: block;
        }
    }
    // .first-block-top-about__subtitle
    &__subtitle {
        display: inline;
        font-size: 16px;
        color: #242424;
        margin: 0 0 0 -10px;
        @media (max-width: ($md2+px)) {
            font-size: 15px;
            margin: 0;
        }
        @media (max-width: ($md3+px)) {
            font-size: 14px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 13px;
        }
    }
    // .first-block-top-about__text
    &__text {
        margin: 17px 0 0 0;
        &::before{
            left: 19px;
        }
        @media (max-width: ($md2+px)) {
            margin: 14px 0 0 0;
        }
    }
}
.last-block-top-about {
    // .last-block-top-about__label
    &__label {
    }
    // .last-block-top-about__title
    &__title {
        font-size: 65px;
        @media (max-width: ($md1+px)) {
            font-size: 59px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 46px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 39px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 33px;
            display: inline;
        }
    }
    // .last-block-top-about__subtitle
    &__subtitle {
        font-size: 14px;
        @media (max-width: ($md3+px)) {
            font-size: 13px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
            display: inline;
            margin: 0 0 0 5px;
        }
    }
    // .last-block-top-about__text
    &__text {
        margin: 24px 0 0 0;
        &::before{
            left: 15px;
        }
        @media (max-width: ($md2+px)) {
            margin: 20px 0 0 0;
        }
        @media (max-width: ($md3+px)) {
            margin: 17px 0 0 0;
        }
        @media (max-width: ($md4+px)) {
            margin: 14px 0 0 0;
            max-width: 350px;
        }
    }
}
.first-block-bottom-about {
    // .first-block-bottom-about__label
    &__label {
    }
    // .first-block-bottom-about__title
    &__title {
        font-size: 50px;
        @media (max-width: ($md1+px)) {
            font-size: 45px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 35px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 30px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 25px;
        }
    }
    // .first-block-bottom-about__text
    &__text {
        font-size: 14px;
        padding: 18px;
        margin: 10px 0 0 0;
        &::before{
            left: 19px;
        }
        @media (max-width: ($md2+px)) {
            padding: 15px;
        }
        @media (max-width: ($md2+px)) {
            padding: 12px;
            font-size: 13px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
            padding: 10px;
        }
    }
}
.last-block-bottom-about {
    // .last-block-bottom-about__title
    &__title {
        display: inline;
        font-size: 65px;
        margin: 0 5px 0 0;
        @media (max-width: ($md1+px)) {
            font-size: 59px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 46px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 39px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 33px;
        }
    }
    // .last-block-bottom-about__subtitle
    &__subtitle {
        display: inline;
        font-size: 14px;
        @media (max-width: ($md3+px)) {
            font-size: 13px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
        }
    }
    // .last-block-bottom-about__text
    &__text {
        padding: 12px 20px;
        margin: 19px 0 0 0;
        &::before{
            left: 68px;
        }
        @media (max-width: ($md2+px)) {
            margin: 16px 0 0 0;
            padding: 12px 15px;
        }
        @media (max-width: ($md2+px)) {
            margin: 14px 0 0 0;
            padding: 12px;
        }
        @media (max-width: ($md4+px)) {
            padding: 10px;
        }
    }
}
.last-column-about {
    // .last-column-about__label
    &__label {
    }
    // .last-column-about__title
    &__title {
        font-size: 75px;
        @media (max-width: ($md1+px)) {
            font-size: 68px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 53px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 45px;
            display: inline;
        }
        @media (max-width: ($md4+px)) {
            font-size: 38px;
            display: block;
        }
    }
    // .last-column-about__subtitle
    &__subtitle {
        @media (max-width: ($md3+px)) {
            display: inline;
            margin: 0 0 0 5px;
        }
    }
    // .last-column-about__text
    &__text {
        margin: 5px 0 0 0;
        font-size: 18px;
        &::before{
            left: 20px;
        }
        @media (max-width: ($md1+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 14px;
            max-width: 330px;
            margin: 10px 0 0 0;
        }
        @media (max-width: ($md4+px)) {
            font-size: 13px;
        }
    }
}
