.delivery {
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
    // .delivery__breadcrumbs
    &__breadcrumbs {
    }
    // .delivery__main
    &__main {
    }
}
.main-delivery {
    padding: 25px 0 70px 0;
    @media (max-width: ($md2+px)) {
        padding: 25px 0 60px 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 25px 0 45px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 25px 0 35px 0;
    }
    // .main-delivery__container
    &__container {
    }
    // .main-delivery__body
    &__body {
    }
    // .main-delivery__title
    &__title {
        &:not(:last-child){
            margin: 0 0 25px 0;
        }
        @media (max-width: ($md2+px)) {
            &:not(:last-child){
                margin: 0 0 20px 0;
            }
        }
        @media (max-width: ($md3+px)) {
            font-size: 30px;
            &:not(:last-child){
                margin: 0 0 15px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 18px;
            &:not(:last-child){
                margin: 0 0 10px 0;
            }
        }
    }
    // .main-delivery__info-labels
    &__info-labels {
        &:not(:last-child){
            margin: 0 0 15px 0;
        }
        & .info-labels__column{
            &:nth-child(2){
                br{
                    @media (max-width: ($md2+px)) {
                        display: none !important;
                    }
                }
            }
        }
        & .info-labels__text{
            margin: 20px 0 0 0;
            @media (max-width: ($md3+px)) {
                margin: 15px 0 0 0;
            }
            // .info-labels__text_no-border
            &_no-border {
                margin: 12px 0 0 0;
                a{
                    &.orange{
                        br{
                            display: block;
                        }
                    }
                }
            }
            br{
                @media (max-width: ($md1+px)) {
                    display: none;
                }
            }
        }
    }
    // .main-delivery__orders
    &__orders {
        &:not(:last-child){
            margin: 0 0 28px 0;
        }
        @media (max-width: ($md3+px)) {
            &:not(:last-child){
                margin: 0 0 20px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 15px 0;
            }
        }
    }
}

