.delivery-size {
    flex: 1 1 100%;
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
    // .delivery-size__breadcrumbs
    &__breadcrumbs {
    }
    // .delivery-size__main
    &__main {
    }
}
.main-delivery-size {
    padding: 25px 0 80px 0;
    @media (max-width: ($md2+px)) {
        padding: 25px 0 70px 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 25px 0 60px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 25px 0 40px 0;
    }
    // .main-delivery-size__container
    &__container {
    }
    // .main-delivery-size__body
    &__body {
    }
    // .main-delivery-size__title
    &__title {
        font-size: 28px;
        margin: 0 0 5px 0;
        @media (max-width: ($md3+px)) {
            font-size: 24px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 16px;
        }
    }
    // .main-delivery-size__subtitle
    &__subtitle {
        font-size: 18px;
        line-height: calc(24 / 18 * 100%);
        color: #444343;
        &:not(:last-child){
            margin: 0 0 13px 0;
        }
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 14px;
        }
    }
    // .main-delivery-size__content
    &__content {
        &:not(:last-child){
            margin: 0 0 23px 0;
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 16px 0;
            }
        }
    }
    // .main-delivery-size__attention
    &__attention {
        font-size: 20px;
        font-weight: 500;
        line-height: calc(28 / 20 * 100%);
        color: #444343;
        &:not(:last-child){
            margin: 0 0 27px 0;
        }
        @media (max-width: ($md1+px)) {
            font-size: 17px;
            &:not(:last-child){
                margin: 0 0 22px 0;
            }
        }
        @media (max-width: ($md2+px)) {
            font-size: 18px;
            &:not(:last-child){
                margin: 0 0 16px 0;
            }
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
            &:not(:last-child){
                margin: 0 0 12px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 15px;
        }
    }
    // .main-delivery-size__items
    &__items {
        border-radius: 10px;
        overflow: hidden;
        background-color: #F4F4F4;
        border: 1px solid #DADADA;
    }
    // .main-delivery-size__item
    &__item {
    }
}
.content-main-delivery-size {
    background-color: #fff;
    box-shadow: 0px 6px 10px 0px #CACACA40;
    padding: 15px 20px 20px 20px;
    @media (max-width: ($md2+px)) {
        padding: 10px 20px 15px 20px;
    }
    @media (max-width: ($md3+px)) {
        padding: 10px 20px;
    }
    @media (max-width: ($md4+px)) {
        padding: 10px;
    }
    // .content-main-delivery-size__row
    &__row {
        @include flexbox();
        margin: 0 -17.5px;
        @media (max-width: ($md1+px)) {
            margin: 0 -15px;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 -12.5px;
        }
        @media (max-width: ($md3+px)) {
            margin: 0 -10px;
        }
        @media (max-width: 700px) {
            flex-direction: column;
        }
    }
    // .content-main-delivery-size__column
    &__column {
        padding: 0 17.5px;
        flex: 0 1 50%;
        @media (max-width: ($md1+px)) {
            padding: 0 15px;
        }
        @media (max-width: ($md2+px)) {
            padding: 0 12.5px;
        }
        @media (max-width: ($md3+px)) {
            padding: 0 10px;
        }
        @media (max-width: 700px) {
            &:not(:last-child){
                margin: 0 0 5px 0;
            }
        }
    }
    // .content-main-delivery-size__text
    &__text {
        font-size: 18px;
        line-height: calc(28 / 18 * 100%);
        color: #444343;
        p{
            &:not(:last-child){
                margin: 0 0 10px 0;
            }
            @media (max-width: ($md2+px)) {
                &:not(:last-child){
                    margin: 0 0 7.5px 0;
                }
            }
            @media (max-width: ($md3+px)) {
                &:not(:last-child){
                    margin: 0 0 5px 0;
                }
            }
        }
        @media (max-width: ($md1+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 14px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 13px;
        }
    }
}
.item-main-delivery-size {
    &:not(:first-child){
        & .item-main-delivery-size__row{
            border-top: 1px solid #E2E2E2;
            @media (max-width: 700px) {
                border: 0;
            }
        }
    }
    // .item-main-delivery-size__row
    &__row {
        padding: 0 20px;
        @include flexbox();
        @media (max-width: ($md3+px)) {
            padding: 0 15px;
        }
        @media (max-width: 700px) {
            padding: 0;
        }
        @media (max-width: 700px) {
            flex-wrap: wrap;
        }
    }
    // .item-main-delivery-size__column
    &__column {
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        flex: 0 1 30%;
        padding: 15px 0;
        &:first-child{
            margin: 0 130px 0 0;
        }
        @media (max-width: ($md1+px)) {
            flex: 0 1 32.5%;
            &:first-child{
                margin: 0 100px 0 0;
            }

        }
        @media (max-width: ($md2+px)) {
            flex: 0 1 35%;
            padding: 12.5px 0;
            &:first-child{
                margin: 0 70px 0 0;
            }
        }
        @media (max-width: ($md3+px)) {
            flex: 0 1 37.5%;
            padding: 10px 0;
            &:first-child{
                margin: 0 45px 0 0;
            }
        }
        @media (max-width: 700px) {
            padding: 10px 22.5% 10px 15px;
            flex: 1 1 100%;
            &:first-child{
                margin: 0;
            }
            &:last-child{
                border-top: 1px solid #E2E2E2;
            }
        }
        @media (max-width: 375px) {
            padding: 10px 15% 10px 15px;
        }
    }
    // .item-main-delivery-size__city
    &__city {
        font-size: 18px;
        font-weight: 500;
        line-height: calc(28 / 18 * 100%);
        color: #444343;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 15px;
        }
    }
    // .item-main-delivery-size__date
    &__date {
        font-size: 18px;
        line-height: calc(24 / 18 * 100%);
        color: #6B6B6B;
        margin: 0 0 0 20px;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 15px;
        }
    }
}
