//====================================================================================================
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    // .header_checkout
	&_checkout {
        & .top-header{
            background-color: #F1F1F1;
        }
        & .top-header__logo-block{
            flex: 1 1 100%;
        }
        & .contact-top-header{
            white-space: nowrap;
            margin: 0;
            & .contact-top-header__tel{
                @media (max-width: ($md4+px)) {
                    font-size: 12px;
                }
            }
        }
        & .user-top-header{
            white-space: nowrap;
            margin: 0 0 0 58px;
            @media (max-width: 700px) {
                margin: 0 0 0 28px;
            }
            @media (max-width: ($md4+px)) {
                margin: 0 0 0 10px;
            }
            & .user-top-header__icon{
                @media (max-width: ($md4+px)) {
                    flex: 0 0 27px;
                    width: 27px;
                    height: 27px;
                    img{
                        width: 12px;
                        height: 12px;
                    }
                }
                @media (max-width: 378px) {
                    flex: 0 0 44px;
                    width: 44px;
                    height: 44px;
                    img{
                        width: 19px;
                        height: 19px;
                    }
                }
            }
            & .user-top-header__name{
                display: block;
                @media (max-width: ($md4+px)) {
                    font-size: 12px;
                }
                @media (max-width: 378px) {
                    display: none;
                }
            }
        }
	}
    // .header__top
    &__top {
    }
    // .header__bottom
    &__bottom {
    }
    // .header__mobile
    &__mobile {
    }
    // .header__catalog
	&__catalog {
	}
}
//====================================================================================================
.top-header {
    padding: 15px 0;
    background-color: #FFFFFF;
    @media (max-width: ($md3+px)) {
        padding: 12px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 10px 0;
    }
    // .top-header__container
    &__container {
    }
    // .top-header__row
    &__row {
        position: relative;
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        @media (max-width: 600px) {
            justify-content: flex-end;
        }
        &.hide{
            & .top-header__logo-block{
                opacity: 0;
                visibility: hidden;
            }
            & .cart-bottom-header{
                opacity: 0;
                visibility: hidden;
            }
            & .top-header__burger{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    // .top-header__logo-block
	&__logo-block {
        margin: 0 20px 0 0;
        @media (max-width: ($md1+px)) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 12px 0 0;
        }
        @media (max-width: 600px) {
            flex: 1 1 100%;
        }
	}
    // .top-header__logo
    &__logo {
    }
    // .top-header__form
    &__form {
        margin: 0 20px 0 0;
        @media (max-width: ($md1+px)) {
            margin: 0;
        }
        @media (max-width: 600px) {
            margin: 0 15px 0 0;
        }
    }
    // .top-header__our-phones
    &__our-phones {
        margin: 0 20px 0 0;
        @include flexbox();
        align-items: center;
        justify-content: center;
        height: 45px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #FE6D2C;
        padding: 5px 25px;
        font-size: 14px;
        color: #4E4E4E;
        @include anim(0.3s, 0s);
        white-space: nowrap;
        &:hover{
            background-color: #FE6D2C;
            color: #fff;
        }
        @media (max-width: ($md1+px)) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 10px 0 0;
            padding: 5px 18px;
            font-size: 13px;
        }
        @media (max-width: 750px) {
            max-width: 122px;
            margin: 0;
        }
        @media (max-width: 650px) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
            padding: 5px 17px;
        }
    }
    // .top-header__our-branches
	&__our-branches {
        margin: 0 20px 0 0;
        @include flexbox();
        align-items: center;
        justify-content: center;
        height: 45px;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #FE6D2C;
        padding: 5px 33px;
        font-size: 14px;
        color: #4E4E4E;
        @include anim(0.3s, 0s);
        white-space: nowrap;
        &:hover{
            background-color: #FE6D2C;
            color: #fff;
        }
        @media (max-width: ($md1+px)) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 10px 0 0;
            padding: 5px 24px;
            font-size: 13px;
        }
        @media (max-width: 750px) {
            max-width: 122px;
            margin: 0;
        }
        @media (max-width: 650px) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
            padding: 5px 22.5px;
        }
	}
    // .top-header__contact
	&__contact {
        margin: 0 20px 0 0;
        @media (max-width: ($md1+px)) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 10px 0 0;
        }
        @media (max-width: 750px) {
            margin: 0;
        }
	}
    // .top-header__call
    &__call {
        margin: 0 20px 0 0;
        font-size: 14px;
        color: #FE6D2C;
        white-space: nowrap;
        text-decoration: underline;
        @include anim(0.3s, 0s);
        &:hover{
            text-decoration: none;
        }
        @media (max-width: ($md1+px)) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 10px 0 0;
        }
        @media (max-width: 650px) {
            margin: 0;
        }
        @media (max-width: 600px) {
            margin: 0 15px 0 0;
        }
    }
    // .top-header__languages
    &__languages {
        margin: 0 20px 0 0;
        @media (max-width: ($md1+px)) {
            margin: 0 15px 0 0;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 10px 0 0;
        }
        @media (max-width: 600px) {
           margin: 0;
        }
    }
    // .top-header__login
    &__login {
        &:not(:last-child){
            margin: 0 10px 0 0;
        }
        @media (max-width: 600px) {
            &:not(:last-child){
                margin: 0 15px 0 0;
            }
        }
    }
    // .top-header__user
	&__user {
        @media (max-width: 600px) {
            margin: 0 15px 0 0;
        }
        @media (max-width: 375px) {
            margin: 0;
        }
	}
    // .top-header__burger
    &__burger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        flex: 0 0 45px;
        width: 45px;
        height: 45px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #0F0F0F;
        cursor: pointer;
        padding: 12.5px 10px;
        span{
            @include anim(0.3s,0s); 
            display: block;
            width: 100%;
            height: 2.5px; 
            border-radius: 2.5px;
            background-color: #fff;
		}
		&.active{
            justify-content: center;
			span{@include scale(0);
                &:first-child{
                    transform: rotate(-45deg) translate(-5%, 100%);
                }
				&:last-child{
                    transform: rotate(45deg) translate(0, -100%);
                }
			}
		}
        @media (max-width: ($md1+px)) {
            display: flex;
        }
    }
}
.form-top-header {
    width: 100%;
    max-width: 485px;
    @media (max-width: ($md1+px)) {
        max-width: none;
    }
    @media (max-width: 600px) {
        width: auto;
    }
    &.active{
        position: absolute;
        left: 0;
        margin: 0;
        width: 100%;
        & .form-top-header__close{
            display: block;
        }
        & .form-top-header__item{
            width: 100%;
            border: 1px solid #E1E1E1;
            &::before{
                width: 20px;
            }
        }
        & .form-top-header__input{
            width: 100%;
            padding: 5px 44px 5px 20px;
        }
        & .form-top-header__search-icon{
            background-color: transparent;
            border: 0;
            svg{
                fill: #FE6D2C;
            }
        }
    }
    // .form-top-header__row
    &__row {
        @include flexbox();
        align-items: center;
    }
    // .form-top-header__close
    &__close {
        display: none;
        margin: 0 25px 0 0;
        svg{
            width: 22px;
            height: 22px;
            fill: #D8D8D8;
        }
    }
    // .form-top-header__item
    &__item {
        flex: 1 1 100%;
        @include flexbox();
        align-items: center;
        position: relative;
        height: 45px;
        border-radius: 5px;
        border: 1px solid #E3E3E3;
        &::before{
            position: absolute;
            content: '';
            width: 20px;
            height: 100%;
            right: 44px;
            background-color: #F3F3F3;
            @media (max-width: ($md1+px)) {
                background-color: #FFFFFF;
            }
            @media (max-width: 600px) {
                width: 0;
            }
        }
        @media (max-width: ($md1+px)) {
            border: 1px solid #F1F1F1;
        }
        @media (max-width: 600px) {
            width: 44px;
        }
    }
    // .form-top-header__input
    &__input {
        height: 100%;
        width: 100%;
        @include flexbox();
        align-items: center;
        padding: 5px 44px 5px 20px;
        font-size: 14px;
        border-radius: 5px;
        background-color: #F3F3F3;
        &::placeholder{
            color: #4B4B4B;
        }
        @media (max-width: ($md1+px)) {
            background-color: #FFFFFF;
        }
        @media (max-width: 600px) {
            width: 0;
            padding: 0;
        }
    }
    // .form-top-header__search-icon
    &__search-icon {
        @include flexbox();
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        right: 3px;
        width: 39px;
        height: 39px;
        border-radius: 5px;
        overflow: hidden;
        background-color: #FE6D2C;
        &:hover{
            background-color: #e96224;
        }
        svg{
            width: 19px;
            height: 19px;
            fill: #FFFFFF;
            @media (min-width: 600px) {
                @include anim(0.3s, 0s);
            }
        }
        @media (min-width: 600px) {
            @include anim(0.3s, 0s);
        }
        @media (max-width: ($md1+px)) {
            width: 44px;
            height: 44px;
            right: 0;
            background-color: #fff;
            border: 1px solid #FE6D2C;
            z-index: 1;
            &:hover{
                background-color: #FE6D2C;
                svg{
                    fill: #fff;
                }
            }
            svg{
                fill: #FE6D2C;
            }
        }
    }
}
.contact-top-header {
    @include flexbox();
    flex-direction: column;
    align-items: flex-start;
    // .contact-top-header__city
    &__city {
        font-size: 14px;
        color: #3E3E3E;
        @media (max-width: ($md3+px)) {
            font-size: 13px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
        }
    }
    // .contact-top-header__tel
    &__tel {
        font-size: 16px;
        line-height: calc(32 / 16 * 100%);
        color: #4E4E4E;
        @include anim(0.3s, 0s);
        &:hover{
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 15px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 14px;
        }
    }
}
.languages-top-header {
    // .languages-top-header__dropdown
    &__dropdown {
        & .dropdown__button{
            height: 45px;
            font-size: 16px;
            color: #131011;
            border-radius: 5px;
            border: 1px solid #EBEBEB;
            padding: 5px 27px 5px 13px;
            &::before{
				width: 9px;
				height: 6px;
				right: 13px;
                background-size: cover;
			}
            @media (max-width: ($md2+px)) {
                font-size: 14px;
                padding: 5px 27px 5px 10px;
                &::before{
                    right: 11px;
                }
            }
        }
        & .dropdown__list{
            top: 45px;
			border-radius: 5px;
			border: 1px solid #EBEBEB;
        }
        & .dropdown__list-item{
            color: #131011;
			font-size: 16px;
			height: 45px;
			padding: 5px 13px;
			&:not(:first-child){
				border-top: 1px solid #EBEBEB;
			}
            @media (max-width: ($md2+px)) {
                font-size: 14px;
                padding: 5px 10px;
            }
        }
    }
}
.login-top-header {
    @include flexbox();
    border-radius: 5px;
    height: 45px;
    border: 1px solid #EBEBEB;
    overflow: hidden;
    padding: 2px;
    // .login-top-header__sing-in
    &__sing-in {
    }
    // .login-top-header__registration
    &__registration {
    }
}
.user-top-header {
    @include flexbox();
    align-items: center;
    &:hover{
        & .user-top-header__icon{
            background-color: #e9e9e9;
        }
    }
    // .user-top-header__icon
    &__icon {
        flex: 0 0 44px;
        width: 44px;
        height: 44px;
        @include flexbox();
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        background-color: #F0F0F0;
        @include anim(0.3s, 0s);
        margin: 0 9px 0 0;
        img{
            width: 19px;
            height: 19px;
        }
        @media (max-width: 600px) {
            margin: 0;
        }
        @media (max-width: 375px) {
            margin: 0 9px 0 0;
        }
    }
    // .user-top-header__name
    &__name {
        font-size: 15px;
        line-height: calc(26 / 15 * 100%);
        color: #3E3E3E;
        @media (max-width: ($md2+px)) {
            font-size: 14px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 13px;
        }
        @media (max-width: 600px) {
            display: none;
        }
        @media (max-width: 375px) {
            display: block;
        }
    }
}
.sing-in-login-top-header {
    @include flexbox();
    align-items: center;
    height: 100%;
    padding: 5px 12px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #F0F0F0;
    margin: 0 2px 0 0;
    @include anim(0.3s, 0s);
    &:hover{
        background-color: #ece9e9;
    }
    @media (max-width: ($md2+px)) {
        padding: 5px 11px;
        margin: 0;
    }
    // .sing-in-login-top-header__icon
    &__icon {
        margin: 0 8px 0 0;
        svg{
            width: 13px;
            height: 13px;
            fill: #CBCBCB;
        }
    }
    // .sing-in-login-top-header__text
    &__text {
        font-size: 16px;
        color: #3F3F3F;
        @media (max-width: ($md2+px)) {
            font-size: 14px;
        }
    }
}
.registration-login-top-header {
    @include flexbox();
    align-items: center;
    height: 100%;
    padding: 5px 12px;
    border-radius: 5px;
    overflow: hidden;
    @include anim(0.3s, 0s);
    &:hover{
        background-color: #F0F0F0;
        & .registration-login-top-header__icon{
            svg{
                fill: #CBCBCB;
            }
        }
    }
    @media (max-width: ($md2+px)) {
        padding: 5px 11px;
    }
    // .registration-login-top-header__icon
    &__icon {
        margin: 0 8px 0 0;
        svg{
            width: 13px;
            height: 13px;
            fill: #D9D9D9;
            @include anim(0.3s, 0s);
        }
    }
    // .registration-login-top-header__text
    &__text {
        font-size: 16px;
        color: #3F3F3F;
        @media (max-width: ($md2+px)) {
            font-size: 14px;
        }
    }
}
//====================================================================================================
.bottom-header {
    height: 50px;
    padding: 2px 0;
    background-color: #F1F1F1;
    @media (max-width: 600px) {
        padding: 20px 0 15px 0;
        height: 80px;
    }
    // .bottom-header__container
    &__container {
        height: 100%;
    }
    // .bottom-header__row
    &__row {
        height: 100%;
        @include flexbox();
        align-items: center;
        justify-content: space-between;
    }
    // .bottom-header__catalog
    &__catalog {
        flex: 0 0 305px;
        margin: 0 26px 0 0;
        @media (max-width: ($md1+px)) {
            margin: 0 20px 0 0;
        }
        @media (max-width: ($md2+px)) {
            flex: 0 0 230px;
        }
        @media (max-width: 750px) {
            margin: 0 15px 0 0;
        }
        @media (max-width: 600px) {
            flex: 1 1 100%;
            margin: 0;
        }
    }
    // .bottom-header__menu
    &__menu {
        flex: 1 1 100%;
    }
    // .bottom-header__cart
    &__cart {
        margin: 0 0 0 20px;
        @media (max-width: ($md1+px)) {
            margin: 0 0 0 15px;
        }
        @media (max-width: ($md2+px)) {
            margin: 0 0 0 10px;
        }
        @media (max-width: 600px) {
            margin: 0 15px 0 0;
        }
    }
}
.catalog-bottom-header {
    @include flexbox();
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #0D1935;
    padding: 5px 16px;
    @include anim(0.3s, 0s);
    &:hover{
        @media (min-width: ($md2+px)) {
            background-color: #0D1935;
            & .catalog-bottom-header__icon{
                svg{
                    fill: #fff;
                }
            }
            & .catalog-bottom-header__text{
                color: #fff;
            }
        }
    }
    // .catalog-bottom-header__icon
    &__icon {
        margin: 0 18px 0 0;
        svg{
            width: 29px;
            height: 29px;
            fill: #0D1935;
            @include anim(0.3s, 0s);
        }
    }
    // .catalog-bottom-header__text
    &__text {
        font-size: 18px;
        color: #0D1935;
        @include anim(0.3s, 0s);
    }
}
.menu-bottom-header {
    // .menu-bottom-header__list
    &__list {
        @include flexbox();
        align-items: center;
        justify-content: space-between;
        @media (max-width: ($md1+px)) {
            flex-direction: column;
        }
    }
    // .menu-bottom-header__item
    &__item {
        @include anim(0.3s, 0s);
        &:not(:last-child){
            margin: 0 10px 0 0;
        }
        @media (max-width: ($md1+px)) {
            border-bottom: 2px solid #fff;
            text-align: center;
            &:not(:last-child){
                margin: 0;
            }
            &:hover{
                border-bottom: 2px solid #FE6D2C;
            }
            &.active{
                border-bottom: 2px solid #FE6D2C;
            }
        }
    }
    // .menu-bottom-header__link
    &__link {
        font-size: 14px;
        line-height: calc(28 / 14 * 100%);
        color: #4E4E4E;
        @include anim(0.3s, 0s);
        &:hover{
            text-decoration: underline;
        }
        @media (max-width: ($md1+px)) {
            font-size: 25px;
            line-height: calc(60 / 25 * 100%);
            &:hover{
                text-decoration: none;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 22px;
        }
    }
}
.cart-bottom-header {
    flex: 0 0 44px;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #FE6D2C;
    @include flexbox();
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @include anim(0.3s, 0s);
    &:hover{
        background-color: #e96224;
    }
    // .cart-bottom-header__icon
    &__icon {
        width: 24px;
        height: 20px;
    }
    // .cart-bottom-header__counter
    &__counter {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        overflow: hidden;
        @include flexbox();
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #FFFFFF;
        box-shadow: -3px 3px 4px 0px #E894174D;
        font-size: 12px;
        color: #000000;
    }
}
//====================================================================================================
.mobile-header {
    position: fixed;
    top: 129px;
    left: -120%;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
    height: 100%;
    box-shadow: 0px 6px 35px 0px #9C9C9C40;
    @include anim(0.5s, 0s);
    &.active{
        left: 0;
    }
    @media (max-width: ($md1+px)) {
        top: 125px;
    }
    @media (max-width: ($md3+px)) {
        top: 119px;
    }
    @media (max-width: 600px) {
        top: 69px;
    }
    @media (max-width: ($md4+px)) {
        top: 65px;
    }
    // .mobile-header__container
    &__container {
    }
    // .mobile-header__body
    &__body {
    }
    // .mobile-header__top
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 600px) {
            border-top: 1px solid #E8E8E8;
            padding: 15px 0 17px 0;
        }
    }
    // .mobile-header__nav
    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 750px) {
            border-top: 1px solid #E8E8E8;
            padding: 15px 0 17px 0;
        }
        @media (max-width: 600px) {
            justify-content: space-between;
        }
    }
    // .mobile-header__menu
    &__menu {
        padding: 18px 0 23px 0;
        @media (max-width: 750px) {
            padding: 3px 0 15px 0;
            border-top: 1px solid #E8E8E8;
        }
    }
}
//====================================================================================================
.catalog-header {
	// .catalog-header__body
	&__body {
	}
	// .catalog-header__top
	&__top {
	}
	// .catalog-header__content
	&__content {
        & .catalog-main-home__body{
            padding: 0;
        }
	}
}
.top-catalog-header {
	// .top-catalog-header__btn
	&__btn {
	}
	// .top-catalog-header__title
	&__title {
	}
}