.wrapper_home{
    & .bottom-header__catalog{
        cursor: default;
        &:hover{
            background-color: transparent;
            & .catalog-bottom-header__icon{
                svg{
                    fill: #0D1935;
                }
            }
            & .catalog-bottom-header__text{
                color: #0D1935;
            }
        }
    }
}
//===================================================================================================================
.home {
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
    // .home__main
    &__main {
    }
    // .home__new-goods
    &__new-goods {
    }
    // .home__subscribe
    &__subscribe {
        padding: 0 0 62px 0;
        @media (max-width: ($md4+px)) {
            padding: 0 0 40px 0;
        }
    }
}
//===================================================================================================================
.main-home {
    padding: 10px 0 60px 0;
    @media (max-width: ($md3+px)) {}
    padding: 8px 0 45px 0;
    @media (max-width: 600px) {
        padding: 0 0 40px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 0 0 33px 0;
    }
    // .main-home__container
    &__container {
    }
    // .main-home__body
    &__body {
    }
    // .main-home__row
    &__row {
        @include flexbox();
    }
    // .main-home__catalog
    &__catalog {
        flex: 0 0 305px;
        margin: 0 20px 0 0;
        box-shadow: 0px 10px 25px 0px #8F8F8F40;
        @media (max-width: ($md2+px)) {
            flex: 0 0 230px;
        }
        @media (max-width: 750px) {
            display: none;
        }
    }
    // .main-home__slider
    &__slider {
        flex: 1 1 100%;
        box-shadow: 0px 10px 25px 0px #8F8F8F40;
        overflow: hidden;
    }
}
.slider-main-home {
    // .slider-main-home__swiper
    &__swiper {
        height: 100%;
    }
    // .slider-main-home__wrapper
    &__wrapper {
    }
    // .slider-main-home__slide
    &__slide {
    }
    // .slider-main-home__pagination
    &__pagination {
        bottom: 85px !important;
        text-align: left !important;
        left: 20px !important;
        & .swiper-pagination-bullet{
            width: 7px;
            height: 7px;
            background-color: #ECECEC;
            border: 1px solid transparent;
            opacity: 1;
            margin: 0 5px 0 0 !important;
        }
        & .swiper-pagination-bullet-active{
            background-color: transparent;
            border: 1px solid #FE6D2C;
        }
    }
}
.slide-slider-main-home {
    // .slide-slider-main-home__body
    &__body {
        height: 100%;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        &::before{
            position: absolute;
            content: '';
            width: 502px;
            height: 502px;
            background: linear-gradient(180deg, #FE6D2C 0%, #E7520F 100%);
            border-radius: 40px;
            @include rotate(21.24deg);
            top: 100px;
            right: -242px;
            z-index: -1;
            @media (max-width: ($md1+px)) {
                top: 140px;
                width: 433px;
                height: 433px;
            }
            @media (max-width: ($md2+px)) {
                width: 364px;
                height: 364px;
                top: 120px;
                right: -227px;
            }
            @media (max-width: 550px) {
                right: -276px;
            }
            @media (max-width: 370px) {
                right: -320px;
            }
        }
    }
    // .slide-slider-main-home__image
    &__image {
        position: absolute;
        bottom: -41px;
        right: 56px;
        z-index: -1;
        @media (max-width: ($md1+px)) {
            right: -75px;
            bottom: -20px;
            img{
                @include scale(0.9);
            }
        }
        @media (max-width: ($md2+px)) {
            @include scale(0.85);
            right: -90px;
            bottom: -40px;
        }
        @media (max-width: ($md3+px)) {
            @include scale(0.75);
            right: -100px;
            bottom: -60px;
        }
        @media (max-width: 550px) {
            right: -160px;
            bottom: -30px;
        }
        @media (max-width: 370px) {
            @include scale(0.65);
            right: -200px;
            bottom: -60px;
        }
    }
    // .slide-slider-main-home__content
    &__content {
        height: 100%;
        padding: 30px 20px 20px 20px;
        @include flexbox();
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: ($md2+px)) {
            padding: 25px 17.5px 20px 15px;
        }
        @media (max-width: ($md3+px)) {
            padding: 20px 15px 20px 15px;
        }
        @media (max-width: ($md4+px)) {
            padding: 15px 15px 20px 15px;
        }
    }
    // .slide-slider-main-home__main
	&__main {
        flex: 1 1 100%;
        @include flexbox();
        flex-direction: column;
        justify-content: space-between;
        &:not(:last-child){
            margin: 0 0 59px 0;
        }
        @media (max-width: ($md1+px)) {
            &:not(:last-child){
                margin: 0 0 55px 0;
            }
        }
        @media (max-width: 750px) {
            &:not(:last-child){
                margin: 0 0 45px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 40px 0;
            }
        }
	}
    // .slide-slider-main-home__label
    &__label {
        @include flexboxinline();
        padding: 10px 15px 10px 10px;
        border-radius: 150px;
        overflow: hidden;
        background-color: #F3F3F3;
        font-size: 14px;
        color: #444343;
        &:not(:last-child){
            // margin: 0 0 14px 0;
            margin: 0 0 10px 0;
        }
        @media (max-width: ($md2+px)) {
            font-size: 12px;
        }
        @media (max-width: ($md3+px)) {
            padding: 7px 10px;
        }
        @media (max-width: 750px) {
            &:not(:last-child){
                margin: 0 0 17px 0;
            }
        }
    }
    // .slide-slider-main-home__title
    &__title {
        font-size: 65px;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #000000;
        -webkit-text-fill-color: transparent;
        @media (max-width: ($md1+px)) {
            font-size: 55px;
        }
        @media (max-width: ($md2+px)) {
            font-size: 45px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 35px;
        }
        @media (max-width: 750px) {
            &:not(:last-child){
                margin: 0 0 5px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 30px;
        }
    }
    // .slide-slider-main-home__subtitle
    &__subtitle {
        max-width: 550px;
        font-size: 15px;
        line-height: calc(28 / 15 * 100%);
        color: #444343;
        &:not(:last-child){
            // margin: 0 0 18px 0;
            margin: 0 0 10px 0;
        }
        @media (max-width: ($md1+px)) {
            max-width: 400px;
        }
        @media (max-width: ($md2+px)) {
            max-width: 320px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 13px;
        }
        @media (max-width: 750px) {
            max-width: 400px;
            &:not(:last-child){
                margin: 0 0 5px 0;
            }
        }
        @media (max-width: 550px) {
            max-width: 320px;
        }
        @media (max-width: ($md4+px)) {
            max-width: 280px;
        }
        @media (max-width: 370px) {
            max-width: none;
        }
    }
    // .slide-slider-main-home__text
    &__text {
    }
    // .slide-slider-main-home__btn
    &__btn {
        flex: 0 0 45px;
        @include flexboxinline();
        height: 45px;
        padding: 5px 21.5px;
        font-size: 14px;
    }
}
.text-slide-slider-main-home {
    @include flexbox();
    align-items: flex-start;
    // .text-slide-slider-main-home__content
	&__content {
        max-width: 479px;
        font-size: 12px;
        line-height: calc(20 / 12 * 100%);
        color: #444343;
        a{
            font-weight: 500;
            color: #FE6D2C;
            text-decoration: underline;
            @include anim(0.3s, 0s);
            &:hover{
                text-decoration: none;
            }
        }
        @media (max-width: ($md1+px)) {
            max-width: 350px;
        }
        @media (max-width: ($md2+px)) {
            max-width: 280px;
        }
        @media (max-width: 750px) {
            max-width: 350px;
        }
        @media (max-width: 550px) {
            max-width: 280px;
        }
        @media (max-width: ($md4+px)) {
            max-width: 180px;
        }
        @media (max-width: 370px) {
            max-width: none;
        }
	}
    // .text-slide-slider-main-home__icon
    &__icon {
        margin: 0 10px 0 0;
    }
}
.icon-text-slide-slider-main-home {
    @include flexbox();
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 10px 0px #B2B2B240;
    @media (max-width: ($md1+px)) {
        width: 32.5px;
        height: 32.5px;
    }
    @media (max-width: ($md1+px)) {
        width: 30px;
        height: 30px;
    }
    @media (max-width: ($md3+px)) {
        width: 27px;
        height: 27px;
    }
    // .icon-text-slide-slider-main-home__body
    &__body {
        @include flexbox();
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 31px;
        height: 31px;
        border-radius: 3px;
        background-color: #FFFFFF;
        box-shadow: 0px 6px 10px 0px #8B8B8B40;
        @media (max-width: ($md1+px)) {
            width: 28.5px;
            height: 28.5px;
        }
        @media (max-width: ($md2+px)) {
            width: 26px;
            height: 26px;
        }
        @media (max-width: ($md3+px)) {
            width: 24px;
            height: 24px;
        }
    }
}
//===================================================================================================================
.catalog-main-home {
    // .catalog-main-home__body
    &__body {
        padding: 21.5px 13px 21.5px 13px;
    }
    // .catalog-main-home__items
    &__items {
        &:not(:last-child){
            margin: 0 0 24px 0;
        }
    }
    // .catalog-main-home__item
    &__item {
        &:not(:last-child){
            margin: 0 0 28px 0;
        }
    }
    // .catalog-main-home__link
    &__link {
    }
    // .catalog-main-home__btn
	&__btn {
        max-width: 320px;
        height: 45px;
        padding: 5px 21.5px;
        font-size: 14px;
        background-color: #0F0F0F;
        &:hover{
            background-color: #252525;
        }
	}
}
.link-catalog-main-home {
    @include flexbox();
    align-items: center;
    &:hover{
        & .link-catalog-main-home__text{
            text-decoration: underline;
        }
        & .link-catalog-main-home__icon{
            background-color: #d7d7d7;
        }
    }
    // .link-catalog-main-home__icon
    &__icon {
        @include flexbox();
        align-items: center;
        justify-content: center;
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        margin: 0 11px 0 0;
        border-radius: 3px;
        overflow: hidden;
        background-color: #F3F3F3;
        @include anim(0.3s, 0s);
    }
    // .link-catalog-main-home__text
    &__text {
        font-size: 16px;
        line-height: 150%;
        color: #4E4E4E;
        @include anim(0.3s, 0s);
    }
}
//===================================================================================================================