.price {
    flex: 1 1 100%;
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
    // .price__breadcrumbs
    &__breadcrumbs {
    }
    // .price__main
    &__main {
    }
}
.main-price {
    padding: 25px 0 80px 0;
    @media (max-width: ($md2+px)) {
        padding: 25px 0 70px 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 25px 0 60px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 20px 0 40px 0;
    }
    // .main-price__container
    &__container {
    }
    // .main-price__body
    &__body {
    }
    // .main-price__inner
    &__inner {
        & .inner__menu{
            padding: 87.8px 0 0 0;
            @media (max-width: ($md2+px)) {
                padding: 0;
            }
        }
    }
    // .main-price__title
    &__title {
        &:not(:last-child){
            margin: 0 0 17px 0
        }
        @media (max-width: ($md3+px)) {
            font-size: 30px;
            &:not(:last-child){
                margin: 0 0 12px 0
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 24px;
        }
    }
    // .main-price__info-labels
    &__info-labels {
        & .info-labels__title{
            p{
                &:not(:last-child){
                    margin: 0 0 10px 0;
                }
                @media (max-width: ($md3+px)) {
                    &:not(:last-child){
                        margin: 0 0 5px 0;
                    }
                }
            }
            span{
                font-weight: 400;
            }
        }
        & .info-labels__text{
            &:not(:last-child){
                margin: 0 0 15px 0;
            }
        }
        & .info-labels__row{
            & .label-info-labels__title{
                font-size: 16px;
                font-weight: 500;
                line-height: calc(28 / 16 * 100%);
                color: #3E3E3E;
            }
            & .label-info-labels__text{
                color: #3E3E3E;
                a{
                    color: #3E3E3E;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    @include anim(0.3s, 0s);
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

