.profile {
    flex: 1 1 100%;
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
    // .profile__breadcrumbs
    &__breadcrumbs {
    }
    // .profile__main
    &__main {
    }
}
.main-profile {
    padding: 25px 0 80px 0;
    @media (max-width: ($md2+px)) {
        padding: 25px 0 70px 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 25px 0 60px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 20px 0 40px 0;
    }
    // .main-profile__container
    &__container {
    }
    // .main-profile__body
    &__body {
    }
    // .main-profile__inner
    &__inner {
        & .inner__menu{
            padding: 87.8px 0 0 0;
            @media (max-width: ($md2+px)) {
                padding: 0;
            }
        }
    }
    // .main-profile__title
    &__title {
        &:not(:last-child){
            margin: 0 0 23px 0;
        }
        @media (max-width: ($md3+px)) {
            font-size: 30px;
            &:not(:last-child){
                margin: 0 0 15px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 24px;
        }
    }
    // .main-profile__content
    &__content {
    }
    // .main-profile__form
    &__form {
    }
}
.form-main-profile {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #DADADA;
    background-color: #F4F4F4;
    // .form-main-profile__main-info
    &__main-info {
    }
    // .form-main-profile__top
    &__top {
        padding: 18px 20px;
        border-bottom: 1px solid #E2E2E2;
        @media (max-width: ($md3+px)) {
            padding: 13px 15px;
        }
    }
    // .form-main-profile__title
    &__title {
        font-size: 18px;
        font-weight: 500;
        color: #3A3A3A;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 15px;
        }
    }
    // .form-main-profile__content
	&__content {
        padding: 13px 20px 15px 20px;
        @media (max-width: ($md3+px)) {
            padding: 13px 15px 15px 15px;
        }
        @media (max-width: ($md4+px)) {
            padding: 13px 15px 5px 15px;
        }
	}
    // .form-main-profile__client-info
    &__client-info {
        &:not(:last-child){
            margin: 0 0 15px 0;
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 10px 0;
            }
        }
    }
    // .form-main-profile__row
    &__row {
        @include flexbox();
        flex-wrap: wrap;
        margin: 0 -10px;
        &:not(:last-child){
            margin: 0 -10px 17px -10px;
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 -10px 10px -10px;
            }
        }
    }
    // .form-main-profile__column
    &__column {
        flex: 0 1 50%;
        padding: 0 10px;
        margin: 0 0 13px 0;
        @media (max-width: 600px) {
            flex: 1 1 100%;
        }
    }
    // .form-main-profile__item
    &__item {
    }
    // .form-main-profile__btn
    &__btn {
        margin: 0 auto;
        // .form-main-profile__btn_small
        &_small {
            width: 202px;
            @media (max-width: ($md3+px)) {
                width: 230px;
            }
        }
        // .form-main-profile__btn_big
        &_big {
            width: 272px;
            &:not(:last-child){
                margin: 0 auto 15px auto;
            }
            @media (max-width: ($md3+px)) {
                width: 230px;
            }
        }
        // .form-main-profile__btn_activation-code
        &_activation-code {
            width: 272px;
            margin: 0 auto 5px auto;
            background-color: #CDCDCD;
            &:hover{
                background-color: #b4b4b4;
            }
            @media (max-width: ($md3+px)) {
                width: 230px;
            }
        }
    }
    // .form-main-profile__balance
    &__balance {
        margin: 22px 0 0 0;
        @media (max-width: ($md4+px)) {
            margin: 12px 0 0 0;
        }
    }
    // .form-main-profile__main-info
    &__main-info {
    }
    // .form-main-profile__additional-info
    &__additional-info {
    }
    // .form-main-profile__alerts
    &__alerts {
        & .form-main-profile__column{
            @media (max-width: 750px) {
                flex: 1 1 100%;
            }
        }
    }
    // .form-main-profile__password
    &__password {
        & .form-main-profile__content{
            @media (max-width: ($md4+px)) {
                padding: 13px 15px 15px 15px;
            }
        }
        & .form-main-profile__column{
            &:first-child{
                margin: 0 10px 13px 0;
            }
        }
    }
}
.client-info-form-main-profile {
    width: 100%;
    max-width: 435px;
    @include flexbox();
    flex-direction: column;
    // .client-info-form-main-profile__item
    &__item {
        @include flexbox();
        &:not(:last-child){
            margin: 0 0 7px 0;
        }
    }
    // .client-info-form-main-profile__label
    &__label {
        flex: 0 1 45%;
        font-size: 18px;
        font-weight: 500;
        color: #3A3A3A;
        padding: 0 20px 0 0;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 15px;
        }
    }
    // .client-info-form-main-profile__value
    &__value {
        flex: 0 1 55%;
        font-size: 18px;
        color: #3A3A3A;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 15px;
        }
    }
}
.item-form-main-profile {
    // .item-form-main-profile__label
    &__label {
        display: block;
        &:not(:last-child){
            margin: 0 0 6px 0;
        }
    }
    // .item-form-main-profile__input
    &__input {
        &::placeholder{
            color: #CACACA;
        }
    }
    // .item-form-main-profile__checkbox
    &__checkbox {
    }
}
.balance-form-main-profile {
    width: 100%;
    // .balance-form-main-profile__item
    &__item {
        @include flexbox();
        justify-content: space-between;
        &:not(:last-child){
            margin: 0 0 3px 0;
        }
    }
    // .balance-form-main-profile__label
    &__label {
        font-size: 18px;
        line-height: calc(28 / 18 * 100%);
        color: #444343;
        margin: 0 20px 0 0;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 14px;
        }
    }
    // .balance-form-main-profile__value
    &__value {
        font-size: 18px;
        line-height: calc(28 / 18 * 100%);
        color: #444343;
        text-align: right;
        @media (max-width: ($md2+px)) {
            font-size: 17px;
        }
        @media (max-width: ($md3+px)) {
            font-size: 16px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 14px;
        }
    }
}
.checkbox-item-form-main-profile {
    // .checkbox-item-form-main-profile__input
    &__input {
        display: none;
        &:checked + .checkbox-item-form-main-profile__label::after{
            transform: scale(1);
        }
    }
    // .checkbox-item-form-main-profile__label
    &__label {
        @include flexbox();
        align-items: center;
        font-size: 16px;
        line-height: calc(26 / 16 * 100%);
        color: #4E4E4E;
        cursor: pointer;
        position: relative;
        &::before{
            content: '';
            @include flexbox();
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 0 0 34px;
            width: 34px;
            height: 34px;
            border: 1px solid #DADADA;
            background-color: #fff;
            border-radius: 5px;
            margin: 0 14px 0 0;
        }
        &::after{
            transition: transform 0.5s ease 0s;
            position: absolute;
            content: '';
            @include flexbox();
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 0 0 26px;
            width: 26px;
            height: 26px;
            left: 4px;
            border: 1px solid #DADADA;
            background-color: #FE6D2C;
            border-radius: 5px;
            margin: 0 14px 0 0;
            transform: scale(0);
        }
        @media (max-width: ($md3+px)) {
            font-size: 15px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 14px;
        }
    }
}
