.reconciliation {
    flex: 1 1 100%;
    padding: 129px 0 0 0;
    @media (max-width: ($md1+px)) {
        padding: 125px 0 0 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 119px 0 0 0;
    }
    @media (max-width: 600px) {
        padding: 149px 0 0 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 145px 0 0 0;
    }
    // .reconciliation__breadcrumbs
    &__breadcrumbs {
    }
    // .reconciliation__main
    &__main {
    }
}
.main-reconciliation {
    padding: 25px 0 80px 0;
    @media (max-width: ($md2+px)) {
        padding: 25px 0 70px 0;
    }
    @media (max-width: ($md3+px)) {
        padding: 25px 0 60px 0;
    }
    @media (max-width: ($md4+px)) {
        padding: 20px 0 40px 0;
    }
    // .main-reconciliation__container
    &__container {
    }
    // .main-reconciliation__body
    &__body {
    }
    // .main-reconciliation__inner
    &__inner {
        & .inner__menu{
            padding: 89.8px 0 0 0;
            @media (max-width: ($md2+px)) {
                padding: 0;
            }
        }
    }
    // .main-reconciliation__title
    &__title {
        &:not(:last-child){
            margin: 0 0 25px 0;
        }
        @media (max-width: ($md2+px)) {
            &:not(:last-child){
                margin: 0 0 20px 0;
            }
        }
        @media (max-width: ($md3+px)) {
            font-size: 30px;
            &:not(:last-child){
                margin: 0 0 15px 0;
            }
        }
        @media (max-width: ($md4+px)) {
            font-size: 24px;
        }
    }
    // .main-reconciliation__content
    &__content {
    }
    // .main-reconciliation__form
    &__form {
        &:not(:last-child){
            margin: 0 0 35px 0;
        }
        @media (max-width: ($md1+px)) {
            &:not(:last-child){
                margin: 0 0 30px 0;
            }
            @media (max-width: ($md2+px)) {
                &:not(:last-child){
                    margin: 0 0 25px 0;
                }
            }
            @media (max-width: ($md3+px)) {
                &:not(:last-child){
                    margin: 0 0 20px 0;
                }
            }
        }
    }
    // .main-reconciliation__mutual-settlements
    &__mutual-settlements {
    }
}
.form-main-reconciliation {
    border-radius: 10px;
    border: 1px solid #DADADA;
    overflow: hidden;
    background-color: #F4F4F4;
    padding: 30px 20px;
    @media (max-width: ($md2+px)) {
        padding: 25px 20px;
    }
    @media (max-width: ($md3+px)) {
        padding: 20px 15px;
    }
    @media (max-width: ($md4+px)) {
        padding: 15px;
    }
    // .form-main-reconciliation__row
    &__row {
        @include flexbox();
        align-items: center;
        @media (max-width: 600px) {
            flex-direction: column;
        }
    }
    // .form-main-reconciliation__column
    &__column {
        flex: 1 1 100%;
        margin: 0 20px 0 0;
        @media (max-width: 600px) {
            margin: 0 0 15px 0;
            width: 100%;
        }
    }
    // .form-main-reconciliation__item
    &__item {
        @include flexbox();
        align-items: center;
    }
    // .form-main-reconciliation__label
    &__label {
        margin: 0 12px 0 0;
        @media (max-width: ($md4+px)) {
            margin: 0 7px 0 0;
        }
    }
    // .form-main-reconciliation__input
    &__input {
    }
    // .form-main-reconciliation__btn
    &__btn {
        flex: 0 0 202px;
        width: 202px;
        @media (max-width: ($md1+px)) {
            flex: 0 0 178px;
            width: 178px;
        }
        @media (max-width: ($md2+px)) {
            flex: 0 0 154px;
            width: 154px;
        }
        @media (max-width: ($md3+px)) {
            flex: 0 0 130px;
            width: 130px;
        }
        @media (max-width: 600px) {
            flex: 1 1 auto;
            margin: 5px 0 0 0;
        }
    }
}
.mutual-settlements-main-reconciliation {
    // .mutual-settlements-main-reconciliation__body
    &__body {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #E9E9E9;
        background-color: #fff;
        padding: 12px 14px;
    }
    // .mutual-settlements-main-reconciliation__items
    &__items {
    }
    // .mutual-settlements-main-reconciliation__item
    &__item {
        &:not(:last-child){
            margin: 0 0 20px 0;
        }
        @media (max-width: ($md4+px)) {
            &:not(:last-child){
                margin: 0 0 12px 0;
            }
        }
    }
    // .mutual-settlements-main-reconciliation__row
    &__row {
        @include flexbox();
        align-items: center;
    }
    // .mutual-settlements-main-reconciliation__label
    &__label {
        font-size: 16px;
        color: #4E4E4E;
        white-space: nowrap;
        margin: 0 20px 0 0;
        @media (max-width: ($md3+px)) {
            font-size: 15px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
        }
    }
    // .mutual-settlements-main-reconciliation__border
    &__border {
        flex: 1 1 100%;
		border-bottom: 1px dashed #EDEDED;
		margin: 5px 5px 0 5px;
    }
    // .mutual-settlements-main-reconciliation__value
    &__value {
        font-size: 16px;
        color: #4E4E4E;
        text-align: right;
        white-space: nowrap;
        a{
            color: #4E4E4E;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            @include anim(0.3s, 0s);
            &:hover{
                text-decoration: none;
            }
        }
        @media (max-width: ($md3+px)) {
            font-size: 15px;
        }
        @media (max-width: ($md4+px)) {
            font-size: 12px;
        }
    }
}
